@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  color: rgb(32, 32, 32);
  font-family: "Dosis", sans-serif;
}
body ul li {
  list-style: none;
}
body a {
  text-decoration: none;
}
body .container {
  padding: 3% 10%;
  align-items: center;
}

header {
  position: relative;
  background: #ef3f42;
  width: 100%;
  padding: 0px 10%;
  position: fixed;
}
header .nav-bar {
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-bar .logo img {
  width: 55px;
}
header .nav-bar .navigation ul {
  display: flex;
  gap: 2rem;
}
header .nav-bar .navigation ul li a {
  color: #eaeaea;
  font-weight: 500;
}
header .nav-bar .navigation ul li a:hover {
  color: rgb(32, 32, 32);
}
header .nav-bar .navigation ul li a.active {
  color: rgb(32, 32, 32);
}
header .nav-bar .tgl-btn {
  color: #eaeaea;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.tgl-menu {
  position: absolute;
  display: none;
  right: 2rem;
  top: 50px;
  width: 300px;
  height: 0px;
  background: rgba(239, 63, 66, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tgl-menu ul li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tgl-menu ul li a {
  color: #eaeaea;
  font-weight: 500;
}
.tgl-menu ul li a:hover {
  color: rgb(32, 32, 32);
}

.tgl-menu.open {
  height: 40vh;
}

.graphics .tittle h2 {
  color: #ef3f42;
  font-weight: 400;
  margin: 40px 0px 25px;
}
.graphics .brand-gallery .row {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.graphics .brand-gallery .row img {
  width: 370px;
  margin: 10px 0px;
}
.graphics .soon {
  text-align: center;
  margin: 70px auto;
}
.graphics .soon h1 {
  font-size: 3rem;
  font-weight: 400;
}

hr {
  outline: 0;
  height: 5px;
  max-width: 80vw;
  margin: 1rem auto;
  background-color: #ef3f42;
}

.website .tittle h2 {
  color: #ef3f42;
  font-weight: 400;
  margin: 10px 0px 25px;
}
.website .brand-gallery .row {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.website .brand-gallery .row img {
  width: 370px;
  margin: 10px 0px;
}
.website .soon {
  text-align: center;
  margin: 70px auto;
}
.website .soon h1 {
  font-size: 3rem;
  font-weight: 400;
}

.social .tittle h2 {
  color: #ef3f42;
  font-weight: 400;
  margin: 10px 0px 25px;
}
.social .sub-tittle {
  margin: 10px 0px 25px;
}
.social .sub-tittle h2 {
  color: #ef3f42;
  font-weight: 400;
}
.social .brand-gallery .row {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.social .brand-gallery .row img {
  width: 370px;
  margin: 10px 0px;
}
.social .soon {
  text-align: center;
  margin: 70px auto;
}
.social .soon h1 {
  font-size: 3rem;
  font-weight: 400;
}

.social2 .tittle h2 {
  color: #ef3f42;
  font-weight: 400;
  margin: 10px 0px 25px;
}
.social2 .sub-tittle {
  margin: 10px 0px 25px;
}
.social2 .sub-tittle h2 {
  color: #ef3f42;
  font-weight: 400;
}
.social2 .brand-gallery .row {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.social2 .brand-gallery .row img {
  width: 370px;
  margin: 10px 0px;
}
.social2 .soon {
  text-align: center;
  margin: 70px auto;
}
.social2 .soon h1 {
  font-size: 3rem;
  font-weight: 400;
}

.social2 .tittle h2 {
  color: #ef3f42;
  font-weight: 400;
  margin: 10px 0px 25px;
}
.social2 .sub-tittle {
  margin: 10px 0px 25px;
}
.social2 .sub-tittle h2 {
  color: #ef3f42;
  font-weight: 400;
}
.social2 .brand-gallery .row {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.social2 .brand-gallery .row img {
  width: 370px;
  margin: 10px 0px;
}
.social2 .soon {
  text-align: center;
  margin: 70px auto;
}
.social2 .soon h1 {
  font-size: 3rem;
  font-weight: 400;
}

.social2 .tittle h2 {
  color: #ef3f42;
  font-weight: 400;
  margin: 10px 0px 25px;
}
.social2 .sub-tittle {
  margin: 10px 0px 25px;
}
.social2 .sub-tittle h2 {
  color: #ef3f42;
  font-weight: 400;
}
.social2 .brand-gallery .row {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.social2 .brand-gallery .row img {
  width: 370px;
  margin: 10px 0px;
}
.social2 .soon {
  text-align: center;
  margin: 70px auto;
}
.social2 .soon h1 {
  font-size: 3rem;
  font-weight: 400;
}

.email .tittle h2 {
  color: #ef3f42;
  font-weight: 400;
  margin: 10px 0px 25px;
}
.email .sub-tittle {
  margin: 10px 0px 25px;
}
.email .sub-tittle h2 {
  color: #ef3f42;
  font-weight: 400;
}
.email .brand-gallery .row {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.email .brand-gallery .row img {
  width: 370px;
  margin: 10px 0px;
}
.email .soon {
  text-align: center;
  margin: 70px auto;
}
.email .soon h1 {
  font-size: 3rem;
  font-weight: 400;
}

.footer .container .social {
  display: flex;
  justify-content: center;
}
.footer .container .social i {
  margin: 5px;
}
.footer .container .rights {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.footer .container .rights img {
  width: 40px;
}
.footer .container .rights p {
  padding: 5px;
  color: #a9a9a9;
}

@media (max-width: 992px) {
  * {
    justify-content: center;
  }
  header .nav-bar {
    height: 50px;
  }
  header .nav-bar .navigation {
    display: none;
  }
  header .nav-bar .tgl-btn {
    display: block;
  }
  .container {
    padding: 25px 10px;
  }
  .tgl-menu {
    display: block;
  }
  hr {
    width: 70vw;
    margin: 1rem auto;
  }
  .graphics .container .tittle h2 {
    margin-top: 40px;
  }
  .graphics .container .brand-gallery .row img {
    width: 250px;
  }
  .graphics .container .soon h1 {
    font-size: 1.5rem;
  }
  .website .container .tittle h2 {
    margin-top: 60px;
  }
  .website .container .brand-gallery .row img {
    width: 250px;
  }
  .website .container .soon h1 {
    font-size: 1.5rem;
  }
  .social .container .tittle h2 {
    margin-top: 60px;
  }
  .social .container .brand-gallery .row img {
    width: 250px;
  }
  .social .container .soon h1 {
    font-size: 1.5rem;
  }
  .social2 .container .tittle h2 {
    margin-top: 60px;
  }
  .social2 .container .brand-gallery .row img {
    width: 250px;
  }
  .social2 .container .soon h1 {
    font-size: 1.5rem;
  }
  .email .container .tittle h2 {
    margin-top: 60px;
  }
  .email .container .brand-gallery .row img {
    width: 250px;
  }
  .email .container .soon h1 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style4.css.map */